/*
color palette
#264653 -charcoal dark blue
#588157 - green light
#e574bc- pink
#ffadad- peach
#F7FFF7- almost white
#6c757d- grey

#26547c- dark blue
#ef476f- pink
#ffd166- yellow
#0db39e- light green


#ff9f1c- yellow
#e71d36- red
#2ec4b6. light green
#011627- black

*/



/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #F7FFF7; /*white*/
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
img {
  width: 300px;
}
a{
  color: #ffd166 /*yellow*/
}
a:hover{
  text-decoration:inherit;
  color:#2ec4b6; /*green*/
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2{
  font-family: 'Caveat', cursive;
/* font-weight: 400; */
margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3{
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 3px dashed #26547c;
  padding: 20px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
------------------------------------*/
header {
  background:#F7FFF7; /*white*/
  color:#26547c; /*dark blue*/
}




/* Projects
------------------------------------*/

.projects{
  background:#e71d36;
  color:#F7FFF7; /*white*/
}
.projects a {
  color:#F7FFF7; /*white*/
  /*text-decoration: none;*/
}
/* .projects a:hover{ */
  /* color:#264653; /*dark blue*/
/* } */
.projects .btn {
  color: #011627; /*black*/
  background: #F7FFF7; /*white*/
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover{
  color:#e71d36; /*red*/
}
.project-item {
  overflow: hidden;
  /* border-bottom: 1px dashed #F7FFF7; */
  /* padding: 25px 0; */
}
.project-item h3 {
  margin-top: 0px;
}

/* Work Experience
------------------------------------*/

.work-experience {
  background:#F7FFF7; /*white*/
  color:#26547c; /*dark blue*/
}
/* .project-item1 { */
  /* overflow: hidden; */
  /* border-bottom: 5px dashed #26547c; */
  /* padding: 20px 0; */
/* } */
/* .project-item1 img {
  float: right;
  margin-left: 80px;
} */
.work-item h3 {
  margin-top: 0px;
}
.work-item a {
  color:#264653; /*white*/
  text-decoration: none;*/
}
 .work-item a:hover{
  color:#264653; /*dark blue*/
  background: #e71d36;
}
.work-item .btn {
  color: #F7FFF7; /*white*/
  background: #26547c; /*dark blue*/
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 11px;
}
.work-item .btn:hover{
  color:#F7FFF7; /*red */
}



/* Education
------------------------------------*/
.education {
  background: #e71d36;/*red*/
  color: #F7FFF7; /* white*/
}
.education a:hover{
  color:#e71d36; /* red*/
  background: #F7FFF7; /*white*/
}
.education .btn {
  color: #011627; /*white*/
  background: #F7FFF7; /*dark blue*/
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  float:right;
  margin-right: 50px;
}
.education{
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer{
  background:#26547c; /*dark blue*/
  color:#F7FFF7; /*white*/
}
.footer1 a {
  color:#F7FFF7;
 }
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  text-align: center;
  padding: 15px;
  display: inline-block;
}

/* responsive
------------------------------------*/
@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
   }
   .job-item {
     display: grid;
     grid-template-columns: 2fr 3fr;
     column-gap: 30px;
     overflow: hidden;
   }
   .contact-list {
     display: flex;
     justify-content: center;
   }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    margin-bottom: 20px;
    line-height: 0.9;
  }
  h2{
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
